<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Athletik | Les 1000 pas{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/foundation.css') }}">
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
       {% block menu %}
            <div class="top-bar">
              <div class="top-bar-left">
                  <ul class="vertical medium-horizontal menu menuaccueil" data-responsive-menu="drilldown medium-dropdown">
                      <li class="menu-text"><a href="{{ path('homepageid')}}" class="logo">Athletik</a></li>
                      <li><a href="{{ path('aboutus')}}">Présentation</a></li>
                      <li><a href="#">Évenements</a>
                          <ul class="vertical menu">
                            <li><a href="{{ path('passedevents')}}">Évenements passés</a></li>
                            <li><a href="{{ path('futurevents')}}">Évenements à venir</a></li>
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li><a href="{{ path('inscriptioncourse')}}">S'inscrire à une course</a></li>
                            {% endif %}
                        </ul>
                      </li>
                      <li><a href="#">Resultats</a>
                        <ul class="vertical menu">
                            {{render(controller('AppBundle:Default:courses'))}}
                        </ul>
                      </li>
                      <li><a href="{{ path('classements')}}">Classements</a></li>
                      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                      <li><a href="#">Gestion des courses</a>
                        <ul class="vertical menu">
                            <li><a href="{{ path('inscriptioncourse')}}">Ajouter les inscriptions</a></li>
                            <li><a href="{{ path('addResultats')}}">Enregistrer les résultats</a></li>
                        </ul>
                      </li>
                      {% endif %}
                  </ul>
              </div>
                  
              <div class="top-bar-right">
              <ul class="vertical medium-horizontal menu menuaccueil" data-responsive-menu="drilldown medium-dropdown">   
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                        <a href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                         {% else %}
                        <a href="{{ path('fos_user_registration_register') }}">Inscription</a>
                        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                        {% endif %}

                </ul>
              </div>
            </div>
        {% endblock %}
            
        {% block main %}
        {% endblock %}
        
        {% block footer %}
        <footer>    
        <div class="small-6 large-3 columns footer">
            <p class="lead">Suivez-nous</p>
                <ul class="menu vertical">
                    <li><a href="#"><i class="fi-social-twitter"></i> Twitter</a></li>
                    <li><a href="#"><i class="fi-social-facebook"></i> Facebook</a></li>
                    <li><a href="#"><i class="fi-social-instagram"></i> Instagram</a></li>
                </ul>
        </div>
            
        <div class="small-6 large-3 columns footer">
            <p class="lead">Autres</p>
                <ul class="menu vertical">
                    <li><a href="#"><i class="fi-social-twitter"></i> Contact</a></li>
                    <li><a href="#"><i class="fi-social-facebook"></i> Mentions Légales</a></li>
                </ul>
        </div>
        </footer>
        {% endblock %}    
        
        
            {% block javascripts %}
            <script src="{{ asset('js/vendor/jquery.js')}}"></script>
            <script src="{{ asset('js/vendor/what-input.js')}}"></script>
            <script src="{{ asset('js/vendor/foundation.js')}}"></script>
            <script src="{{ asset('js/app.js')}}"></script>
            <script>$(document).foundation();</script>
            {% endblock %}
        
    </body>
</html>
