{% extends 'base.html.twig' %}
{% block main %}
    <div class="callout large primary">
      <div class="row column text-center">
      </div>
    </div>

    <div class="row column">
        {% for result in meeting %}
      <h3>Les résultats de la course {{result.name}}</h3>
      
        {% endfor %}
    </div>

    <div class="row medium-up-3 large-up-4 container_portfolio">
        <table>
            <tr><th>Nom</th><th>Prénom</th><th>Temps</th><th>Points</th></tr>
      {% for resultats in resultats %}
                
                <tr><td>{{resultats.athlete.lastname}}</td><td>{{resultats.athlete.firstname}}</td><td>{{resultats.time}}</td><td>{{resultats.points}}</td></tr>
                
      <!--{{dump(resultats)}}-->
      {% endfor %}
      
      <!--<div class="column">
        <img class="thumbnail" src="http://placehold.it/50x50">
      </div>
      <div class="column">
        <img class="thumbnail" src="http://placehold.it/50x50">
      </div>
      <div class="column">
        <img class="thumbnail" src="http://placehold.it/50x50">
      </div>
      <div class="column">
        <img class="thumbnail" src="http://placehold.it/50x50">
      </div>
      <div class="column">
        <img class="thumbnail" src="http://placehold.it/50x50">
      </div>
      <div class="column">
        <img class="thumbnail" src="http://placehold.it/50x50">
      </div>
      <div class="column">
        <img class="thumbnail" src="http://placehold.it/50x50">
      </div>
      <div class="column">
        <img class="thumbnail" src="http://placehold.it/50x50">
      </div>-->
        </table>
    </div>
    
    <div class="row column">
      <ul class="vertical medium-horizontal menu expanded text-center">
        <li><a href="#"><div class="stat">498</div><span>Estropieds</span></a></li>
        <li><a href="#"><div class="stat">43</div><span>Branques</span></a></li>
        <li><a href="#"><div class="stat">2</div><span>Dents en moins</span></a></li>
        <li><a href="#"><div class="stat">0</div><span>Winner</span></a></li>
        <li><a href="#"><div class="stat">18</div><span>Fauteils electriques</span></a></li>
      </ul>
    </div>

    <hr>



    <hr>


{% endblock %}



    